<!doctype html>
<html>
<head>
    <title> Banking API with Passport.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body         { padding-top:60px; }
    </style>
</head>
<body>
<div class="container-fluid">

    <div class="jumbotron text- center">
        <h1><i class="medium material-icons">monetization_on</i> Node Bank </h1>
        <br>
        <hr>
        <br>

        <h5>Login or Register with:</h5>
        <br>

        <br>
         <a href="/login" class="waves-effect waves-light btn-large"><i class="material-icons left">beenhere</i> Local Login </a>
         <a href="/signup" class="waves-effect waves-light btn-large"><i class="material-icons left">person_add</i> Local signup </a>
         <a href="/auth/google" class="waves-effect waves-light btn-large"><i class="material-icons left">beenhere</i> Google + </a>
    </div>
</div>
</body>
</html>
